<?php include 'templates/_header.html'; ?>

    <h2 class="admin">Modification de l'article : "<?php echo $title; ?>"</h2>
    <div id="contenu">
        <form method="post" action="article-modif.php" />
            <input name="id" type="hidden" value="<?php echo $id; ?>"/> 
            <div id="title">
                Titre <br />
                <input type="text" name="title" value="<?php echo $title; ?>"/>
                <br/>
            </div>
            <div id="content_form">
                <textarea name="content" style="width:100%;height:150px;"><?php echo $content; ?></textarea>
            </div>
            <input type="submit" value="Editer l'article"/>
        </form>
    </div>
<?php include 'templates/_footer.html'; ?>