<?php include 'templates/_header.html'; ?>

    <h2 class="admin">Ajouter une page</h2>
    <div id="contenu">
        <form method="post" action="insert-pages.php" />
            <div id="title">
                Titre<br />
                <input type="text" name="nom" value=""/>
                <br/>
            </div>
            <div id="content_form">
                <textarea name="text"></textarea><br />
            </div>
            <input type="submit" value="Ajouter la page"/>
        </form>
    </div>
<?php include 'templates/_footer.html'; ?>

