<?php include 'templates/_header.html'; ?>

    <h2 class="admin">Modification de la page : "<?php echo $nom; ?>"</h2>
    <div id="contenu">
        <form method="post" action="page-modif.php" />
            <input name="id" type="hidden" value="<?php echo $id; ?>"/> 
            <div id="title">
                Titre <br />
                <input type="text" name="nom" value="<?php echo $nom; ?>"/>
                <br/>
            </div>
            <div id="content_form">
                <textarea name="text" style="width:100%;height:150px;"><?php echo $text; ?></textarea>
            </div>
            <input type="submit" value="Editer la page"/>
        </form>
    </div>
<?php include 'templates/_footer.html'; ?>