html,body{
    background:#eaeaea;
}

.clearBoth{
    clear:both;
}

h2.admin{
    font-size:22px;
    color:#ffffff;
    background:url(img/bg_h2_admin.png) no-repeat;
    width:960px;
    height:41px;
    line-height:41px;
    padding-left:20px;
    margin-left: 240px;
}

h2.menu_admin{
    font-size:22px;
    background:url(img/bg_menu_admin.png) no-repeat;
    text-align:center;
    color:#ffffff;
    width:200px;
    height:38px;
}

#container{
    width:100%;
}

#login {
    margin: 10em auto;
    width: 390px;
}

#header_admin{
    background:url(img/bg_header.png) repeat-x;
    width:100%;
    height:80px;
}

#logo_admin{
    line-height:110px;
    width:287px;
    height:51px;
    margin-left: 40px;
    float:left;
}

#home{
    width:200px;
    height:24px;
    float:right;
    margin-top: 20px;
}

#home a{
    text-decoration:none;
    color:#ffffff;
    display:inline-block;
    padding-left:10px;
    font-size:14px;
}

#home a:hover{
    text-decoration:underline;
}

#content{
    margin-top: 40px;
}

#logo{
    width:171px;
    height:73px;
    margin:0 auto;
    float:left;
    margin-top:22px;
}

#menu{
    background:#525252;
    width:200px;
    float:left;
    position:relative;
}

#menu ul{
    margin:0;
    display:block;
    line-height:38px;
}

#menu ul li{
    float:left;
    display:block;
    width:200px;
}

#menu ul li a{
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    padding-left:20px;
}

#menu ul li a:hover{
    background:#898989;
}

#content form{
    width:700px;
    margin:0 auto;
    margin-top: 20px;
}

#content form input{
    width:397px;
    height:38px;
    background:url(img/bg_input.png) no-repeat;
    border:none;
    line-height:22px;
    font-size:22px;
    padding-left:10px;
    margin-top:10px;
}

#form_newsletter p{
    margin-bottom: 20px;
}

#content textarea{
    width:400px;
}

#contenu{
    width:960px;
    margin-left: 240px;
    background:#ffffff;
    margin-bottom:20px;
    padding:10px 10px 10px 10px;
    min-height:500px;
    border-left:1px solid #9D9D9D;
    border-right:1px solid #9D9D9D;
    border-bottom:1px solid #9D9D9D;
}

#contenu h3{
    width:400px;
    float:left;
}

#contenu .post{
    border-bottom:1px solid #BBBBBB;
    height:30px;
    line-height:30px;
}

#contenu .post_image{
    border-bottom:1px solid #BBBBBB;
    height:110px;
    line-height:110px;
    margin-top: 10px;
}

#contenu .post a{
    float:left;
    width: 100px;
}

#contenu .post_image a{
    float:left;
    width: 100px;
}

#contenu .post a.modify{
    background:url(img/modify.png) no-repeat;
    height:24px;
    margin-left:30px;
    width:200px;
}

#contenu .post_image a.modify{
    background:url(img/modify.png) no-repeat;
    height:24px;
    margin-left:30px;
    width:200px;
}

#contenu .post a.delete{
    background:url(img/delete.png) no-repeat;
    height:24px;
    width:200px;
}

#contenu .post_image a.delete{
    background:url(img/delete.png) no-repeat;
    height:24px;
    width:200px;
    float:right;
    margin-top: 40px;
}

#contenu .post_image img{
    height:100px;
}

#contenu .post a span{
    display:none;
}

#contenu .post_image a span{
    display:none;
}

#contenu .post li{
    width:200px;
    float:left;
}

#contenu .post_image li{
    width:200px;
    float:left;
}

#contenu .post li.id{
    width:30px;
    list-style:none;
}

#contenu .post_image li.id{
    width:30px;
    list-style:none;
}

#contenu ul.menu_participant{
    background:url(img/bg_menu_participants.png) repeat-x;
    height:27px;
    color:#717171;
    line-height:27px;
    text-shadow: 0.1em 0.1em 0.05em #FFFFFF;
    margin-bottom: 20px;
    margin-top: 40px;
}

#contenu ul.menu_participant li{
    width:200px;
    float:left;
}

#contenu ul.menu_participant li.id{
    width:40px;
}

#contenu ul.menu_participant li.title{
    width:400px;
}

#contenu ul.menu_participant li.modif-del{
    width:200px;
    padding-left:90px;
}

#contenu ul.menu_news{
    background:url(img/bg_menu_participants.png) repeat-x;
    height:27px;
    color:#717171;
    line-height:27px;
    text-shadow: 0.1em 0.1em 0.05em #FFFFFF;
    margin-bottom: 20px;
}

#contenu ul.menu_news li{
    width:200px;
    float:left;
}

#contenu ul.menu_news li.id{
    width:40px;
}

#contenu ul.menu_news li.title{
    width:400px;
}

#contenu ul.menu_news li.modif-del{
    width:200px;
}

#title{
    margin-bottom: 20px;
}

#footer{
  background:url(../../templates/styles/img/bg_footer.png) repeat-x;
    height:102px;
    width:100%;
}

#footer_content{
    background:url(../../templates/styles/img/bg_footer_content.png) no-repeat;
    width:960px;
    margin:0 auto;
    height:102px;
}

#login form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 18px #C8C8C8;
    font-weight: normal;
    margin:0;
    padding: 16px 16px 40px;
    width:340px;
}

#login form label{
    color: #777777;
    font-size: 13px;
}

#login form input{
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    font-size: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px;
    width: 97%;
}

#content form input#image{
    background:url(img/bg_input.png) no-repeat;
   margin-top: 2px;
   border:none;
   font-size:16px;
   width:400px;
    height:27px;
    border:none;
    padding-left:10px;
    margin-top:10px;
   
}

#login input[type=submit]{
    background: url(img/button-grad.png) repeat-x left top #21759B;
    border-color: #298CBA;
    color: #FFFFFF;
    font-size:14px;
    height:25px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    width:150px;
    cursor:pointer;
    float:right;
}

#login input[type=submit]:hover{
    background: url(img/button-grad.png) repeat-x left top #21759B;
}

#login h1{
    margin:0;
}

#login h1 a {
    background: url(img/logo_admin.png) no-repeat scroll center top transparent;
    display: block;
    height: 51px;
    overflow: hidden;
    padding-bottom: 15px;
    text-indent: -9999px;
    width: 326px;
    padding-left: 60px;
}

#content [type=submit]{
    color:#ffffff;
    background:url(img/submit.png) no-repeat;
    width:123px;
    height:30px;
    font-size:15px;
    cursor:pointer;
}

#content [type=submit]:hover{
    background:url(img/submit_hover.png) no-repeat;
}

#user{
    padding:20px 20px 5px 20px;
    color:#ffffff;
}

#user li{
    list-style:none;
}

#user li a{
    display:block;
    margin-top:25px;
    margin-left:80px;
    background:url(img/logout.png) no-repeat;
    height:29px;
}

#user li a span{
    display:none;
}

/*table.fixed {
    table-layout: fixed;
}*/
   
.widefat {
    width: 100%;
}

.widefat thead tr th{
    background:url(img/bg_menu_participants.png) repeat-x;
    height:27px;
    color:#717171;
    text-shadow: 0.1em 0.1em 0.05em #FFFFFF;
    margin-bottom: 20px;
}

.widefat th, .widefat td {
    overflow: hidden;
}

.widefat th {
    line-height: 1.3em;
    padding: 7px 7px 8px;
    text-align: left;
    font-size: 14px;
    padding-right: 20px;
}

.widefat td{
    font-size: 14px;
    padding-right: 20px;
    border-bottom:1px solid #DFDFDF;
}

.error-message{
    background:url(img/cross.png) no-repeat;
    padding:0 0 0 30px;
    display:inline;
    color:#ff5b5b;
    display:none;
}

.inside p.sub {
    color: #777777;
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 13px;
    font-style: italic;
    left: 15px;
    padding: 5px 10px 5px;
    top: -17px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom:10px;
}

.inside {
    font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
    font-size: 15px;
    padding-right: 6px;
    text-align: left;
    float: left;
    width: 320px;
}

.inside ul{
    margin-bottom: 20px;
}

.inside ul li{
    height:24px;
    line-height:24px;
    padding-left:20px;
    color:#21759B;
}

.inside ul li a {
    color:#21759B;
    text-decoration:none;
    display:inline-block;
}

.inside ul li a:hover{
    color:#419428;
}

.inside ul li img{
    height:22px;
    line-height:22px;
    margin-right: 5px;
}