<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title><?php echo APPLICATION_TITLE; ?></title>
    
    
    <link rel="stylesheet" type="text/css" media="screen" href="templates/styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="templates/styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="print" href="templates/styles/print.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
	<?php include 'templates/_menu.html'; ?>
	<div class="clearBoth"></div>
<div id="container">
	
        <div id="header">
		<?php include 'templates/_header.html'; ?>
        </div><!--FinHeader-->
        <div id="content_top"></div>
        <div id="content">
            <div id="actus">
                <h2>Actualités</h2>
		<?php foreach($articles as $id=>$value) : ?>	
			<h3><?php echo $value['title']; ?> - <span class="date">Le <?php echo date('d-m-Y'); ?></h3>
			<p><?php echo coupeChaine($value['content']); ?></p>
			<p class="more"><a href="article.php?id=<?php echo $id; ?>">[Lire la suite]</a></p>
			<div class="clearBoth"></div>
		<?php endforeach; ?>
            </div><!--FinActus-->
            <div class="clearBoth"></div>
        </div><!--FinContent-->
    </div><!--finContainer-->
    <div id="footer">
	<?php include 'templates/_footer.html'; ?>
    </div><!--FinFooter-->
</body>
</html>
