<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title><?php echo APPLICATION_TITLE; ?></title>
    
    
    <link rel="stylesheet" type="text/css" media="screen" href="templates/styles/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="templates/styles/reset.css" />
    <link rel="stylesheet" type="text/css" media="print" href="templates/styles/print.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/slides.min.jquery.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
    <?php include 'templates/_menu.html'; ?>
<div id="container">
        <div id="header">
		
		<?php include 'templates/_header.html'; ?>
        </div><!--FinHeader-->
        <div id="content_top"></div>
        <div id="content">
            <div id="reglement">
                <h2 class="title_h2">Règlement du concours</h2>
                <h3>CONCOURS ORGANISE PAR FERRERO</h3>
                <h4>REGLEMENT DU CONCOURS FERRERO EN PARTENARIAT AVEC KINDER POUR ADULTE</h4>
                    <p>
                    Préambule - Le concours Ferrero est organisé par les étudiants de l'IIM en partenariat avec Kinder pour adulte. Il est ouvert à tous les adultes en France, et  à l’étranger du 2 mai 2011 au 22 juin 2011.
                    </p>
                    <p>
                    Il a pour objectif de sensibiliser les adultes aux plaisirs simple mais oubliés de leurs enfance.
                    </p>
                    
                    <h5>Art.1 - Thème 2011</h5>
                    <p>
                    Le concours Kinder fait appel à  l’initiative des adultes voulant tenter leurs chance dans l’édition 2011.
                    </p>
                    
                    <h5>Art 2 - Limites, obligations et fonctionnement</h5>
                    <p>
                    1. Le concours se décline en une seule catégorie : les adultes.
                    </p>
                    <p>
                    2. Une personne peut participer une seule fois à la catégorie.
                    </p>
                    <p>
                    3. Chaque jours les internautes peuvent s'inscrire sur le site pour tenter de gagner différents cadeaux sous forme d'instant gagnant.
                    </p>
                    
                    <p>
                    5. Chaque participant doit être un auteur clairement identifié. Les inscriptions proposées sous un pseudonyme ou de manière anonyme ne seront pas recevables.
                    </p>
                    <p>
                    6. Le modérateur nommé sur ce concours se réserve le droit de ne pas publier une photo si celle-ci porte atteinte à la dignité et au respect d’autrui.
                    </p>
                    <p>
                    Tout participant âgé de moins de 18 ans doit obtenir l’autorisation préalable d’un parent ou tuteur pour participer au concours et accepter le présent règlement. Les organisateurs se réservent le droit de demander de justifier de cette autorisation et de disqualifier tout participant en l’absence de justification de cette autorisation.
                    </p>
                    
                    <h5>Art. 3 - Présentation sur ferrero.fr</h5>
                    <p>
                    Démarrage : mai 2011
                    </p>
                    <p>
                    Format : Site
                    </p>
                    <p>
                    Url : http://www.ferrero.fr
                    </p>
                    <p>
                    Les internautes votent tout au long de l’opération. A chaque inscription, un instant gagnant est vérifié. Les gagnant seront donc automatiquement informé de leurs prix.
                    </p>
                    <p>
                    Les internautes qui concourent n’ont pas accès au back-office du site, mais remplissent un formulaire (identification - nom, prénom, mail a minima - autorisation de diffusion publique des gagnants).
                    </p>
                    <h5>Art. 4 - Date limite d’envoi</h5>
                    <p>
                    Les inscriptions devront être postées avant le 22 juin 2011.
                    </p>
                    
                    <h5>Art. 5 - Publication des résultats mensuels, remise des prix</h5>
                    
                    <p>
                    Les 5 gagnants  de la catégorie sélectionnées seront mises en avant sur ferrero.fr.
                    </p>
                    
                    <h5>Art. 6 - Dotation</h5>
                    <p>
                    Un prix sera remis chaque fois qu'un internaute gagnera.
                    </p>
                    
                    <h5>Art. 7 - Droits d'identités et droit à la publication / abandon des droits</h5>
                    
                    <p>
                    1. Les participants garantissent sur l’honneur qu’ils sont titulaires des droits d’auteur de chaque inscription, c’est-à-dire qu’ils ont remplis eux-mêmes chacune des cases et qu’ils en autorisent la représentation gratuite dans le cadre d’une exposition réelle, dans la presse, ou sur le site Internet ferrero.fr.
                    </p>
                    
                    <h5>Art. 8 - Composition du jury national</h5>
                    
                    <p>
                    Le jury sera composé de :<br />
                    
                    -          2 représentants de L’Étudiant ;<br />
                    
                    -          3 représentants du Ministère de l’Éducation nationale, dont le délégué national à la vie lycéenne ;<br />
                    
                    -          1 responsable d’une école de photographie ; <br />
                    
                    -          2 photographes ; <br />
                    
                    -          Des lycéens. <br /><br />
                    
                    Le jury sera souverain et pourra jusqu’à la décision officielle de parution apporter toutes modifications au résultat de l'instant gagnant et notamment dans le cas où les formulaires seraient entachées de contrefaçons ou plagiat,ou bien déjà publiée ou diffusée par l’organisateur lui-même ou ailleurs.
                    </p>
                    
                    <h5>Art. 9 - Informations des gagnants et remise des lots</h5>
                    <p>
                    Les organisateurs ne sauraient être responsables au cas où l’envoi d’un participant ne lui parviendrait pas pour quelque raison que ce soit, telle que, sans que cette liste soit nominative : perte de courrier, données inexploitables, etc.
                    </p>
                    <p>
                    Toute déclaration inexacte ou mensongère, toute fraude qui pourrait nuire au bon déroulement du concours et/ou à la détermination des gagnants, entraînera la disqualification du participant.
                    </p>
                    <p>
                    Le lot est nominatif et ne pourra être attribué à une autre personne que le gagnant.
                    </p>
                    
                    <h5>Art. 10 - publicité et promotion du gagnant</h5>
                    
                    <p>
                    Du seul fait de l’acceptation de leurs prix, les gagnants autorisent les organisateurs à utiliser leurs noms et prénoms sans limitation d’espace ou de temps, et sans que cette utilisation puisse ouvrir d’autres droits que les prix gagnés.
                    </p>
                    
                    <h5>Art. 11 - Connexion</h5>
                    
                    <p>
                    L’Organisateur  rappelle aux participants les caractéristiques et les limites du réseau Internet, notamment en ce qui concerne les performances techniques, les temps de réponse pour consulter, interroger ou transférer les informations, les risques de contamination par des éventuels virus circulant sur le réseau, et décline toute responsabilité liée aux conséquences de la connexion des participants à ce réseau via le site www.schtroump.fr/kinder.
                    </p>
                    <p>
                    Plus particulièrement, l’organisateur ne saurait être tenu responsable de tous dommages matériels et immatériels causés aux participants, à leurs équipements informatiques et aux données qui y sont stockées ainsi que des conséquences pouvant en découler sur leurs activités personnelles, professionnelles ou commerciales.
                    </p>
                    <p>
                    Il appartient donc à chaque participant de prendre toutes les mesures appropriées pour protéger contre toute atteinte, ses données et/ou logiciels stockés sur son équipement informatique et téléphonique. La connexion de tout participant et la participation au concours se fait sous son entière responsabilité.
                    </p>
                    <p>
                    L’organisateur ne saurait davantage être tenu responsable au cas où un ou plusieurs participants ne pourraient parvenir à se connecter au www.schtroumph.fr/kinder/, du fait de tout défaut technique ou de tout problème lié notamment à l’encombrement des réseaux.
                    </p>
                    
                    <h5>Art. 12 - Réclamations</h5>
                    
                    <p>
                    La participation à ce concours requiert le plein accord des concourants sur l’acceptation du présent règlement, sans possibilité de réclamation quant aux résultats. Les organisateurs se réservent le droit, en cas de force majeure ou pour toute cause indépendante de sa volonté, de modifier les dates ou d’annuler le concours.
                    </p>
                    
                    
                    <h5>Art. 13 - Dépôt de règlement</h5>
                    
                    <p>
                    Le présent règlement est déposé à LA SCP SIMONINIT - LE MARCRE - GUERRIER, HUISSIERS DE JUSTICE ASSOCIÉS - 24, RUE TAITBUROUT - 75007 PARIS, à laquelle est confié le contrôle du bon déroulement de sa mise en œuvre.
                    </p>
                    <p>
                    Il peut être consulté et imprimé à tout moment sur la page d’accueil du concours accessible à partir de l’adresse suivante : www.schtroumph.fr/kinder/. via le bouton règlement ou être adressé sur simple demande écrite. Les frais de timbres afférents seront remboursés au tarif lent en vigueur sur simple demande écrite jointe à la demande de communication du règlement et remboursés en timbres.
                    </p>
                    
                    <h5>Art. 14 - Attribution de compétence</h5>
                    
                    <p>
                    Les parties admettent sans réserve que le simple fait de participer au concours les soumet obligatoirement aux lois françaises, notamment pour tout litige qui viendrait à naître du fait du concours objet des présentes ou qui serait directement ou indirectement lié à celui-ci, sans préjudice des éventuelles règles de conflit de lois pouvant exister.
                    </p>
                    <p>
                    Les participants sont donc soumis à la réglementation française applicable aux jeux et concours.
                    </p>
                    <p>
                    Tout litige qui ne pourra être réglé à l’amiable relèvera des tribunaux compétents de Paris et ce, même en cas de pluralité de défendeurs, de demande incidente ou d’appel en garantie.
                    </p>
                    <p>
                    Fait à La Defense, le 12 avril 2011
                    </p>
                <form class="print">
                    <fieldset>
                        <input type="button" value="Imprimer le Règlement" onClick="javascript:window.print()" class="btn_imprim" />
                    </fieldset>
                </form>
                <a href="#" class="pdf">Ou bien, Cliquer ici pour télécharger le règlement au format PDF [34Ko]</a><br />
            </div>
            <div class="clearBoth"></div>
        </div><!--FinContent-->
    </div><!--finContainer-->
    <div id="footer">
	<?php include 'templates/_footer.html'; ?>
    </div><!--FinFooter-->
</body>
</html>
