#jeuxconcours{
    background:url(img/bg_body_concours.png) no-repeat center;
    width:1023px;
    height:713px;
    padding-top:30px;
    margin:0 auto;
}

a{
    text-decoration: underline;
    color:#000000;
}

form p{
    margin-top:20px;
    color:#4A4A4A;
}

#formconcours{
    width: 456px; height: 450px;
    left: 50%;
    margin-left: 60px;
    position: absolute;
    top: 250px;
}

form{
	width:900px;
	margin:0 auto;
	border-radius:1em; /*Trop cool pour IE :) */
	-moz-border-radius:1em; /*Trop cool pour IE :) */
        
}

form label{
	border: 0 none;
    color: #363636;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    width: 130px;
}

form input, form select, form textarea{
    margin-left:10px; 
    width:250px;
    float:right;
    margin-top: 15px;
        
}

form button{
	position:relative;
	left:160px;
}

#naissance_contact select {
    border: 1px solid #C0C0C0;
    color: #363636;
    font-size: 10pt;
    height: 20px;
    width:60px;
}

input#check{
    width:20px;
    float:left;
    margin-right: 30px; margin-top:15px;
}

.message{
	display:none;
        float:right;
}

.require-one{
	display:none;
        float:right;
}

label.error{
    float:right;
    width:400px;
    color:#C41A18;
    text-align:left;
    line-height:10px;
    height:16px;
}

#nom_contact,#prenom_contact,#email_contact,#naissance_contact,#adresse_contact,#cp_contact,#telephone_contact,#check_contact{
    line-height:45px;
    width: 400px;
    height:45px;
}

#btnJouer {
    background: url(img/btnJouer.png) no-repeat left top;
    border: 0 none;
    cursor: pointer;
    height: 76px;
    padding: 0;
    position: absolute;
    width: 219px;
    top: 410px;
    left: 110px;
    
}

#btnJouer span{
    display:none;
}

#messageSent{
    display:none;
}

.msgreturn {
    background: none repeat scroll 0 0 #E20000;
    border: 1px solid #BC0B0B;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 0 10px;
    position:absolute;
    top:200px;
    margin-left:60px;
    left:50%;
}