@page { size: landscape; } ;
@page { margin: 2cm; } ; 

body{
  background-color:#FFFFFF;
  color:#000000;
  font-size:12pt;}



/*  début de la partie à ne PAS imprimer  */
#menu{
  display:none;}


#header{
	width : 100%;
	background-color : #E6461C;
	font-size : 1em;
	text-align : center;
  }
  
  #header .flac2
  {
  display : none;
  }
  
  #corps h1, #corps h2, #footer
  {
  display : none;
  }
/*  fin de la partie à ne PAS imprimer  */
.btn_imprim, .pdf
{
display : none;
}

#bloc_right h2
{
text-decoration : underline;
}

/*  début de la partie à imprimer  */
#container{
  background-color:#FFFFFF;}
/*  fin de la Partie a imprimer  */
